@model CHS_Auction_Site.Models.Items

@{
    ViewData["Title"] = "TEST";
}

<h2>TEST</h2>

@ViewData["ItemId"]

ID: @Model.ItemId
ItemName: @Model.ItemName
ItemDescription: @Model.ItemDescription
ItemCategory: @Model.ItemCategory
ItemImage: @Model.ItemImage
ItemValue: @Model.ItemValue
PackageId: @Model.PackageId
GuestId: @Model.GuestId