@model IEnumerable<CHS_Auction_Site.Models.CheckIns>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckInBidderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInBidderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guest.GuestAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CheckInId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CheckInId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CheckInId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
