@model CHS_Auction_Site.Models.EventDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h2>Event</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Events.EventLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.EventTicketNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.EventStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.EventEnd)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Events.EventLocation)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Events.EventTicketNum)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Events.EventStart)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Events.EventEnd)
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h2>Packages</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Package ID
                </th>
                <th>
                    Package Description
                </th>
                <th>
                    Package Starting Bid
                </th>
                <th>
                    Package Bid Increment
                </th>
                <th>
                    Package Final Price
                </th>
                <th>
                    Package Event ID
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Packages.Where(m => m.EventId == Model.Events.EventId))
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.PackageId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PackageDescription)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PackageStartBid)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PackageBidIncrement)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PackageFinalPrice)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EventId)
                </td>
                <td>
                    <a asp-area="" asp-controller="Packages" asp-action="Details" asp-route-id="@item.PackageId">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
