@model CHS_Auction_Site.Models.Events

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <a asp-route="Index">Back to List</a>
</div>
<div>
    <h2>Event</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventTicketNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventEnd)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.EventLocation)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EventTicketNum)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EventStart)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EventEnd)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.EventId">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h2>Packages</h2>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
