@model IEnumerable<CHS_Auction_Site.Models.Events>

@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(model => item.EventLocation)</h3>
                    <hr />
                    <p># of Tickets: @Html.DisplayFor(model => item.EventTicketNum)</p>
                    <p>Start Time: @Html.DisplayFor(model => item.EventStart)</p>
                    <p>End Time: @Html.DisplayFor(model => item.EventEnd)</p>
                    <hr />
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.EventId">Edit</a>
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.EventId">Details</a>
                    <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
                </div>
            </div>
        </div>
    }
</div>